node_modules
dist
.DS_Store
.env
coverage
*.log
.idea/
__pycache__/
*.pyc
ml/style-transfer/datasets/raw/audio/
apps/api/uploads/
apps/mobile/ios/
apps/mobile/.expo/
apps/api/apps/
trainingData/
LaRae_sandbox.pages
Untitled.pages
/FTB_animation_ideas.pages
