node_modules
dist
.DS_Store
.env
.env.local
.env.develop
.env.prod
coverage
/playwright-report/
/test-results/
/.e2e/
*.log
.idea/
__pycache__/
*.pyc
ml/style-transfer/datasets/raw/audio/
apps/api/uploads/
apps/mobile/android/
apps/mobile/ios/
apps/mobile/.expo/
apps/api/apps/
trainingData/
LaRae_sandbox.pages
Untitled.pages
/FTB_animation_ideas.pages
/FTB_animation_scripts.pages
